.hero-background {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/image-heroSection.png");
  background-size: 75%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; /* 👈 os itens vão para o bottom */
  padding: 0 5% 5px 15%; /* 👈 espaço embaixo */
  box-sizing: border-box;
}

.hero-content {
  color: white;
  max-width: 600px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
}

.hero-content h1 {
  font-size: 3rem;
  color: #ff6400;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 20px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;
}

.btn.phone {
  background-color: #ff6400;
  color: white;
}

.btn.whatsapp {
  background-color: #25d366;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}
