.header {
  width: 100%;
  padding: 10px 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* leve sombra opcional */
}

.header-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  height: 60px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: bold;
  font-size: 14px;
}

.header-right span:hover {
  border: 3px solid rgb(16, 68, 238);
  padding: 3px;
}

.search-icon:hover {
  border: none;
}

.search-icon {
  font-size: 18px;
  cursor: pointer;
}

.header-line {
  border: none;
  height: 2px;
  background-color: rgb(16, 68, 238); /* azul padrão */
  margin-top: 10px;
}

.header-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 20px 0;
}

.header-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
}
